body {
  box-sizing: border-box;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border: 5px lightblue solid;
  padding: 5px;
  width: 785px;
  height: 785px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
}

#box {
  background-color: lightcyan;
  width: 250px;
  height: 250px;
  border: 1px solid gray;
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
  font-size: 3em;
}

#boxClicked {
  background-color: red;
}
