#person {
  top: 0;
  left: 0;
  position: relative;
}

#mustache {
  top: 335px;
  left: 60px;
  cursor: grab;
  position: absolute;
}

#mustache:active {
  cursor: move;
  cursor: grabbing;
}

.hide {
  display: none;
}

#btn {
  margin-top: 2em;
}
