/* -- Reset Global Styles --- */
*,
*::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* -- Color Variables -- */
:root {
  --light-gray: rgb(201, 201, 201);
  --dim-gray: rgb(105, 105, 105);
  --pale-green: rgb(152, 251, 152);
  --medium-sea-green: rgb(60, 179, 113);
  --tomato: rgb(255, 99, 71);
}

/* -- Styles --- */

::placeholder {
  color: var(--light-gray);
}

h2,
p {
  color: var(--dim-gray);
}

.main {
  border: 1px solid var(--light-gray);
  margin: auto;
  width: 80%;
  box-shadow: 5px 5px 5px var(--light-gray);
}

.heading {
  background-color: var(--pale-green);
  padding: 1em;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

.heading h1 {
  font-size: 8rem;
}

#item-search {
  border: none;
  width: 400px;
  margin: auto;
  line-height: 2rem;
  padding: 0.5em;
  font-size: 1.5rem;
}

#hide {
  display: inline;
}

.add-bar-container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-bar {
  margin: auto;
  width: fit-content;
  display: flex;
  text-align: center;
  font-size: 1.5rem;
}

.add-bar input {
  border: 1px solid var(--light-gray);
  width: 500px;
  padding: 0.5em;
}

.add-bar button {
  width: 150px;
  border: 1px solid var(--medium-sea-green);
  background-color: var(--medium-sea-green);
  color: white;
  cursor: pointer;
}

.search-bar input,
button {
  border: 1px solid var(--light-gray);
  padding: 0.5em;
}

.list-container {
  margin: 2em;
}

.list-container h2 {
  margin-bottom: 1em;
}

.list {
  margin: auto;
  padding: 0 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#list-item {
  border-left: 5px solid var(--light-gray);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#list-item:hover {
  border-left: 5px solid var(--medium-sea-green);
}

#list-item p {
  font-size: 1.5rem;
  width: 90%;
}

#list-item button {
  color: white;
  background-color: var(--tomato);
  border-radius: 5px;
  cursor: pointer;
}

.hideDiv {
  display: none;
}
