/* -- Reset Global Styles --- */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* -- Styles --- */

.main {
  border: 1px solid red;
  margin: auto;
  width: 60%;
  box-shadow: 5px 5px 5px gray;
}

.heading {
  background-color: yellowgreen;
  padding: 1em;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

.heading h1 {
  font-size: 8rem;
}

#item-search {
  border: none;
  width: 400px;
  margin: auto;
  line-height: 2rem;
  padding: 0.5em;
  font-size: 1.5rem;
}

#hide {
  display: inline;
}

.search-bar-container {
  height: 200px;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  margin: auto;
  width: fit-content;
  display: flex;
  text-align: center;
  line-height: 2em;
}

.search-bar input {
  font-size: 1.5rem;
  width: 500px;
}

.search-bar button {
  width: 150px;
  border: 1px solid rgb(7, 169, 105);
  background-color: rgb(7, 169, 105);
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.search-bar input,
button {
  border: 1px solid lightgray;
  padding: 0.5em;
}

.list-container {
  border: 1px solid blue;
}
